.flex-container { 
    display: flex;  
    width: 500px;
    height: 500px;
    background-color: magenta;
    justify-content: center;
    align-items: center;

}

button {
    background-color: blue;
    color: white;
}