/* Create a Flex Container Style */
.flex-container {
    display: flex;
    background-color: dodgerblue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

/* Smartphones (portrait and landscape) ---------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* styles */
}

/* Smartphones (portrait) ------------------------*/
@media screen and (max-width: 320px) {
    /* styles */
}

/* Smarphones (landscape) -----------------------*/
@media screen and (min-width: 321px) {
    /* styles */
}

/* Tablets, iPads (portrait and landscape) ------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles */
}

/* Tablets, iPads (portait) ----------------------*/
@media screen and (min-width: 768px) {
    /* styles */
}

/* Tablets, iPads (landscape) -------------------*/
@media screen and (min-width:1024px) {
    /* styles */
}

/* Desktops and laptops -------------------------*/
@media screen and (min-width: 1224px) {
    /* styles */
}

/* Desktops and laptops ------------------------*/
@media screen and (min-width: 1824px) {
    /* styles */
}










